@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

footer {

    font-family: 'Nunito', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0e1113;
    color: white;
    text-align: center;
}

.nav-extended {
    background-color: #0e1113;
    display: grid;
    justify-content: center;
    align-items: center;
}

.nav-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 35%;
}

.logob {
    text-align: center;
}

.logob img {
    width: 15%;
    height: 15%;
}

hr {
    width: 25%;
}

#textoqs {
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    color: #2E2E2E;
    padding-right: 10%;
    padding-left: 10%;
}

#contactetitulo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 65px;
    color: #0e1113;
    font-weight: bold;
    padding-left: 17%;
}

#contactetexto {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    color: #2E2E2E;
    padding-left: 13.5%;

}

.padding {
    padding-left: 13.5%;
}

.col .row {
    margin-right: -0rem !important;
}

#mensagem {
    padding-bottom: 15%;
}


.navlr {
    position: absolute;
    display: inline-block;
    left: 50px;
    top: 50px;
}

.lr {
    font-family: 'Ubuntu', sans-serif;
    color: #f8f8f8;
    font-weight: bold;
}

#lr {
    font-family: 'Ubuntu', sans-serif;
    color: #2E2E2E;
    font-weight: bold !important;
}

.btn,
.btn-large,
.btn-small,
.btn-flat {
    text-transform: none !important;
}

#empresa {
    width: 100%;
    text-align: center;
}

.float {

    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 140px;
    right: 140px;
    background-color: slategray;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.float:hover {
    background-color: rgb(89, 101, 114);
    color: white;
    box-shadow: 4px 4px 5px #999;
    width: 63px;
    height: 63px;
}

.my-float {
    margin-top: 22px;
}

.rowslojas {
    background-color: blue;
    border: 1px solid black;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    font-size: 30px;
    position: fixed;
    bottom: 50%;
    left: 25%;
    background-color: #fefefe;
    width: 50%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #3E4551;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.card-image{
height: 400px; /* Your height here */
overflow: hidden;

}
.card{ height: 500px;}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}